{% extends "account/base_account.html" %}

{% block title %}| Change Password{% endblock %}

{% block formBox %}
	

		<h1>Change password</h1>
	   
	   <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
	   <br />
	   <form action="" method="post">
	   	
		<ul>
			<li>
				{% if form.old_password.errors %}{{ form.old_password.html_error_list }}{% endif %}
		   		<strong><label for="id_old_password">Old password</label></strong>{{ form.old_password }}
			</li>
			<li>
				{% if form.new_password1.errors %}{{ form.new_password1.html_error_list }}{% endif %}
				 <strong><label for="id_new_password1">New password</label></strong>{{ form.new_password1 }}
			</li>
		   <li>
		   	 {% if form.new_password2.errors %}{{ form.new_password2.html_error_list }}{% endif %}
			 <strong><label for="id_new_password2">Confirm password</label></strong>{{ form.new_password2 }}
		   </li>
		  
	   
		   <li><label for="change_password">&nbsp;</label> <input type="submit" value="Change my password" name="change_password"/></li>
		</ul>
	
{% endblock %}
