{% extends "account/base_account.html" %}

{% block title %}| Update Account{% endblock %}

{% block formBox %}

	
	{% if message %}
	   <p class="message">{{ message }}</p>
		<br class="clear" />
	{% endif %}

	
	<h1>Update Account</h1>
	    <form action="." method="POST">
	        <input type="hidden" name="register_form" value="True" id="register_form">
	           <ul>
					{% for error in form.non_field_errors %}
						<li class="error non_field_error"><span class="error">{{ error }}</span></li>
					{% endfor %}
					
		
					{% for field in form %}
					    <li {% if field.errors %}class="error"{% endif %}>
						
						{% if field.errors %}<span class="error">{{ field.errors }}</span>{% endif %}
						{% if field.field.required %}<strong>{% endif %}
						{{ field.label_tag }}
						{% if field.field.required %}</strong>{% endif %}
					    {{ field }}
					    {% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %}
					    
						</li>
					{% endfor %}
					<li><label for="update_account">&nbsp;</label> <input type="submit" value="Update account" name="update_account"/></li>
				</ul>
	    </form>	
		<br class='clear' />
		{% include 'includes/privacy.html' %}
	
	{% include 'includes/hide_state_fields.html' %}
	
{% endblock %}