
<h3 class="underline">We respect your privacy</h3>

<p>
	Any personal details submitted to My Yard Our Message will be kept for the duration of the project, for the purposes of the project only, and not shared with any third parties. We will use your information in the following ways:
</p>

<dl>
	<dt>Your e-mail address</dt>
	<dd>We will use this to send you an e-mail message when voting for the project opens, when signs are available for purchase, or for notification if you are winner.</dd> 

	
	<dt>Your name</dt>
	<dd>To display near your sign during voting and for display purposes on the website.</dd>
	
	<dt>Your physical address</dt>
	<dd>So that we may display a map of where sign designers come from. You do not have to enter a street address, but we do request a city, state, and country.</dd>
	
</dl>
