{% load thumbnail %}
<li>
	<div class="signleSignImage">
		<a href="/sign/{{sign.id}}/"><img src="/files/{{ sign.image|thumbnail:"width=180" }}" width="180"  class="singleSignImageFile"/></a>
		<h4>{{sign.title}}</h4>
		
			<h5>by 
				{% if sign.user.get_profile.url %}
					<a href="{{sign.user.get_profile.url}}">{{sign.user.username}}</a>
				{% else %}
					{{sign.user.username}}
				{% endif %}
			</h5>
		
		
		
		{% if delete %}
			<a href="delete_sign/{{sign.id}}">Delete sign</a>
		{% endif %}
		
	 	{% if not sign.approved %}
			<br /><strong>This sign has been un-approved and will not appear publicly.</strong>
		{% endif %}
	</div>
</li>