{% extends "account/base_account.html" %}

{% block title %}| Submit{% endblock %}


{% block formBox %}
	
	
	<h1>Submit new design</h1>
	
	{% if maxedOut %}
		<p>You have already submitted 5 signs. You cannot submit any more signs.</p>
	{% else %}
		
		<p>Reminder: All submitted files must be a flattened RGB jpeg image with pixel dimensions of 4200px by 2800px. Other sizes will be rejected. See the <a href="/requirements/">design requirements page</a> for more information.</p>
	
	
		<form action="." method="POST" enctype="multipart/form-data">
		<ul>
			{% for error in form.non_field_errors %}
				<li class="error non_field_error"><span class="error">{{ error }}</span></li>
			{% endfor %}
		

			{% for field in form %}
			    <li {% if field.errors %}class="error"{% endif %}>
			
				{% if field.errors %}<span class="error">{{ field.errors }}</span>{% endif %}
				{% if field.field.required %}<strong>{% endif %}
				{{ field.label_tag }}
				{% if field.field.required %}</strong>{% endif %}
			    {{ field }}
			    {% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %}
		    
				</li>
			{% endfor %}			
			<li><label for="submit_sign">&nbsp;</label> <input type="submit" value="Submit Sign" name="submit_sign"/></li>
		</ul>
      
	    </form>
		<br class='clear' />
	
	
		{% include 'includes/tos.html' %}
	
	{% endif %}
	
	
{% endblock %}



